html,body{
  background-color:#222;
  height:100%;
  width:100%;
}
.content{
  height:100%;
  width:100%;
}

/*stage ---  start*/
.stage{
  wdith:100%;
  height:610px;
  position:rlative;
  
}
/*stage -- end*/

/*image start*/
.image-sec{
  width:100%;
  height:100%;
  overflow:hidden;
  position:relative;
  background-color:#ddd;


  @at-root{
     .img-figure{
       position:absolute;
       width:220px;
       height:260px;
       margin:0;
       padding:20px;
       background-color:#fff;
       box-sizing:border-box;
     }
     figcaption{
       text-align:center;
       .img-title{
         font-size:12px;
         margin:10px 0px 0px 0px;
         color:#a7a0a2;
       }
     }

  }
}
/* image end*/

/*contaoller start*/
.controller-nav{
  position:absolute;

  width:100%;
  left:0;
  bottom:0;
  text-algin:center;
  z-index:1001;
}
/*controller end*/

/*figure start*/
/*figure end*/